body {
  padding: 20px;
}
.main-container {
  width: 1920px;
  height: 950px;
  background: url("../content/Layout\ 5/Rectangle 6.png"), #000;
  background-repeat: no-repeat;
  background-position: 120px 142px;
}

.container {
  min-width: 1920px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 20px 0 0 0;
  padding: 20px 0 0 0;
}

.nav {
  display: flex;
  height: 100%;
  margin: 20px 277px;
}
.nav-logo {
  width: 86px;
  height: 86px;
}
.site-nav {
  display: flex;
  align-items: center;
  padding-left: 147px;
  width: 1239px;
}
.site-nav-t {
  width: 650px;
  height: 22px;
  display: flex;
  justify-content: space-between;
}
li {
  list-style-type: none;
}
.site-nav > li > a {
  color: #fff;
  text-decoration: none;
  font-family: "Futura PT", sans-serif;
  font-size: 17px;
}

.site-nav > .nav-icons {
  margin-left: 100px;
  display: flex;
}
.nav-icons > a + a {
  margin-left: 20px;
}
.nav-icons > a {
  width: 24pt;
  height: 24px;
}
.nav-icons + .nav-right {
  margin-left: 102px;
  display: flex;
}
.log-btn {
  color: #f33;
  font-family: "Futura PT", sans-serif;
  font-size: 17px;
  background-color: transparent;
  cursor: pointer;
  border: hidden;
}
.main {
  margin: 136px 281px 353px;
}

h2 {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 110px;
  text-align: center;
}
.main-text1 {
  margin: 0;
}
.main-text2 {
  margin: 0;
  padding-left: 99px;
  display: block;
}
.main-logo {
  width: 100px;
  height: 100px;
  transform: translateY(20px);
}
.main-text-blok {
  display: flex;
  justify-content: center;
}
p {
  color: #fff;
  font-family: "Futura PT", sans-serif;
  font-size: 24px;
  width: 304px;
  margin: 50px 30px 0 0;
}
button.zr-btn {
  width: 244px;
  height: 70px;
  font-family: "Futura PT", sans-serif;
  background: #f33;
  color: #fff;
  margin-top: 61px;
  cursor: pointer;
}
li > a > img:hover {
  transform: scale(1.5);
}
li > a:hover {
  transform: scale(1.1);
  color: #f33;
}
.nav-right:hover,
.nav a:hover {
  transform: scale(1.1);
}
button:hover {
  transform: scale(1.2);
  text-transform: calc(1.4);
  font-weight: 700;
}
