.background {
  width: 1920px;
  height: 1209px;
}
.background {
  background: linear-gradient(
    180deg,
    rgba(236, 240, 253, 0) 0%,
    rgba(236, 240, 253, 0.53) 14.32%,
    #ecf0fd 45.83%,
    rgba(236, 240, 253, 0.43) 84.33%,
    rgba(236, 240, 253, 0) 100%
  );
  position: relative;
  z-index: 1;
}
p.slogan-text {
  color: #272d4e;
  text-align: center;
  font-family: Circular Std, sans-serif;
  font-size: 55px;
  font-weight: 700;
  line-height: 70px;
  margin: 138px 0;
}
.main {
  width: 730px;
  height: 391px;
  margin: 103px 595px 437px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 18px 52.854px 0px rgba(215, 228, 249, 0.5);
  position: relative;
  display: block;
  box-shadow: 0px 20px 10px gray;
}

.main-text {
  width: 566px;
  color: #94a2b3;
  text-align: center;
  font-family: Circular Std;
  font-size: 26px;
  font-weight: 400;
  line-height: 39.5px;
  margin: 106px 82px 87px;
  position: absolute;
  z-index: 4;
}
img.quotation-marks {
  position: absolute;
  bottom: 196px;
  left: 248px;
  z-index: 3;
}
img.green-bots {
  position: absolute;
  top: 307px;
  left: -121px;
  z-index: -1;
}
img.red-bots {
  position: absolute;
  top: 26px;
  left: 391px;
  z-index: -1;
}

img.Ellipse-15 {
  position: absolute;
  top: 177px;
  left: 391px;
  box-shadow: 0px 10px 10px gray;
}
img.Ellipse-27 {
  position: absolute;
  top: 392px;
  left: 102px;
  box-shadow: 0px 10px 10px gray;
}
img.Ellipse-26 {
  position: absolute;
  top: 643px;
  left: 256px;
  box-shadow: 0px 10px 10px gray;
}
img.Ellipse-29 {
  position: absolute;
  top: 106px;
  left: 1356px;
  box-shadow: 0px 10px 10px gray;
}
img.Ellipse-28 {
  position: absolute;
  top: 355px;
  right: 233px;
  box-shadow: 0px 10px 10px gray;
}
img.Ellipse-30 {
  position: absolute;
  top: 707px;
  right: 396px;
  box-shadow: 0px 10px 10px gray;
}
